page-calendar {



 page-calendar .monthview-selected {

 background-color: #535353 !important;
    color: white;
 }


thead {
    color: white;
    background-color: #3f3f3f;
}
tbody{
    color:black;
    background-color: #ececec;
}

}
